body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 25px;

  font-size: 16px;
  text-decoration: none;
  color: white;

  transition: color 0.3s;
}

.nav__link:hover {
  color: coral;
}

img {
  display: block;
}

.promo {
  width: 100%;
  height: 200px;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  background-color: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.main {
  padding: 40px;
  background-color: antiquewhite;
}

.main-text {
  text-align: justify;
  margin-bottom: 40px;
}

.footer {
  height: 250px;
  background-color: silver;
}
